@mixin head() {
  border-radius: 30px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  color: white !important;
  box-shadow: $bShadow;
  margin-right: -15px;
  margin-bottom: 20px;
}

@mixin head-inti() {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

@mixin head-inti-icons() {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 130px;
  align-items: center;
  color: white;
}