@import"variables";
@import"SharedFunct";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  color: $vRed;
  margin: auto !important;
}

/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  background-color: #EAECEE;

  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.header {
  border-radius: 30px;
  background-image: url(../images/image.jpg);
  @include back-image;
  padding: 15px;
  display: flex;
  flex-direction: column;
  color: white !important;
  box-shadow: $bshdw;
  margin-right: -15px;
  margin-bottom: 20px;

  h2 {
    font-weight: 700;
  }

  .inti {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;

    .logo-box {
      display: flex;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: white;
      padding: 2px;

      img {
        width: 100%;
        border-radius: 50%;
      }
    }

    .icons {
      flex-direction: row;
      align-content: center;
      color: white;
      @include icon-color(white);
      @include icon-size(22px);

      img {
        width: 40px;
        border-radius: 50%;
        margin-left: 20px;
      }
    }
  }
}

.options {
  height: calc(100vh - 147px);
  padding: 0 15px;

  .phonesdevices {
    padding: 0 10px;
    display: flex;
    flex-direction: column;

    h3 {
      font-weight: 500;
    }

    .choose {
      display: flex;
      flex-direction: row;

      .box {
        flex-basis: 30%;

        .typecont {
          border: 0.5px solid transparent;
          border-radius: 20px;
          padding: 15px;
          box-shadow: $bshdw;
          margin-bottom: 10px;
          background-color: white;
          cursor: pointer;

          &:nth-child(2) {
            margin: 0 10px;
          }

          @include icon-size(50px);
        }
      }
    }
  }

  .deal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .d {
      @include icon-size(40px);
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  h4 {
    display: inline;
    margin-left: 10px;
  }


  .best-sellings {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .carousel {
      background-color: white;
      border-radius: 20px;
      border: 1px solid transparent;
      padding: 15px;

      .line {
        background-color: #EAECEE !important;
        margin-bottom: 15px;
      }

      .div-tit {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 7px;
        font-weight: 600;

        button {
          color: white;
          background-color: $vRed;
          border: 0.5px solid transparent;
          border-radius: 7px;
          font-size: 14px;
          padding: 1px 10px;
          outline: none;
          box-shadow: 0px 1px 0.5px 0.5px #AEB6BF;
        }
      }

      .carousel-inner {
        .card {
          @include adj-card;

          .installment {
            border-radius: 5px;
            background-color: #ABB2B9;
            padding: 5px;
            text-align: center;

            p {
              color: black !important;
              margin: auto;
              display: inline;
            }
          }

          p {
            color: $vRed;
            font-size: 14px;
          }
        }
      }
    }
  }
  .offers{
    overflow-y:scroll;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    .offer-box{
      height: 20vh;
      margin: 5px 0;
      background-image: url(../images/vodafone-red.jpg);
      flex-shrink: 0;
      @include back-image;
      border-radius: 20px;
    }
  }
}