@import"variables";
@import"SharedFunct";
@import"header";
@import"options";
@import"search";

.header {
  @include back-image;
  @include head;
  h2 {
    font-weight: 700;
  }

  p {
    margin-bottom: 0px;
  }

  .inti {
    @include head-inti;

    img {
      width: 50px;
      border-radius: 50%;
    }

    .icons {
      @include head-inti-icons;
      @include icon-color(white);
      @include icon-size(22px);
      a{
        text-decoration: none;
      }

      img {
        width: 40px;
        border-radius: 50%;
      }
    }
  }
}

.options {
  padding: 0 15px;
  height: calc(100vh - 155px);

  .left-section {
    @include left-section;
    h3 {
      font-weight: 500;
    }

    .choose {
      display: flex;
      flex-direction: row;

      .box {
        width: 90px;

        .typecont {
          @include left-section-choose-box-typecont;

          img {
            width: 50px;
            margin: auto;
          }

          cursor: pointer;
          @include icon-size(50px);
        }
      }
    }
  }

  .deals {
    margin-bottom: 15px;

    .deal {
      @include options-left-section-deals-deal;

      .d {
        @include icon-size(40px);
        @include options-left-section-deals-deal;
      }
    }
  }

  h4 {
    display: inline;
    margin-left: 10px;
  }


  .middel-section {
    @include options-middel-section;
    

    .carousel {
      @include options-middel-section-carousel;

      .line {
        background-color: #EAECEE !important;
        margin-bottom: 15px;
      }

      .div-tit {
        @include options-middel-section-carousel-div-tit;

        button {
          @include options-middel-section-carousel-div-tit-button;
        }
      }

      .carousel-inner {
        .card {
          @include adj-card;

          .card-body{
            @include options-middel-section-carousel-carousel-inner-card-body-card;
          }

          .installment {
            @include options-middel-section-carousel-carousel-inner-installment;

            p {
              @include options-middel-section-carousel-carousel-inner-installment-p;
            }
          }

          p {
            color: $vRed;
            font-size: 14px;
          }
        }
      }
    }
  }

  .right-section {
    @include options-right-section;

    .offer-box {
      @include options-right-section-offer-box;
      @include back-image;
    }
  }
}

@media(min-width:576px) {
  .options {
    .left-section {
      .choose {
        .box {
          .typecont {
            width: 90px;
            height: 90px;
          }
        }
      }
    }
  }

}

@media(min-width:992px) {
  .options {

    .right-section {
      overflow-y: hidden;
    }
    .right-section:hover {
      overflow-y: scroll;
    }
  }
}