.options{
    .middel-section.serach-file-best-selling-section{
        overflow-y: scroll;
        height: 626px;
    }
}

.options{
    .middel-section.serach-file-best-selling-section{
        .carousel{
            height: 190px;
        }
    }
}  